
.private {
    padding: 10px;
}

.private__text p {
    font-size: 1.2rem;
    font-weight: 700;
}

.private__title {
    text-align: center;
}

.private__border {
    margin: 25px auto;
    inline-size: 80%;
    border-block-end: 1px solid #ff0000;
}
