/*.category {
    padding: 10px;
}

.category__text  {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   column-gap: 5px;
   row-gap: 10px;
}

.category__title {
    text-align: center;
}*/

.product__border {
    margin: 25px auto;
    inline-size: 80%;
    border-block-end: 1px solid #ff0000;
}

.product__title {
    text-align: center;
}

.product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 400px;
    overflow: hidden;/* обрежет выступающие части, если object-fit: cover */
}

.product__img img{
    min-inline-size: 90%;
    max-block-size: 100%;
    object-fit: contain;
}

.product__descrimbe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-block-size: 150px;
    flex-wrap: wrap;
    gap: 5px;
}

.product__descrimbe > img {
    max-inline-size: 100px;
    max-block-size: 100px;
}

.product__price {
    color: var(--logo-color);
    font-size: 1.5rem;
}

.product__sales span {
    color: var(--logo-color);
    font-size: 1.5rem;
}

.product__button {
    margin-block-start: 20px;
}


